---
const year = new Date().getFullYear();
---

<footer class="footer">
  <p>&copy; 2003-{year} Far East Metals Development Limited</p>
</footer>

<style>
  .footer {
    text-align: center;
    padding: 20px;
    color: rgb(0, 0, 0);
    font-size: 10px;
    font-weight: 400;
    letter-spacing: normal;
  }

  .footer p {
    font-size: 10px;
    color: rgb(0, 0, 0);
  }
</style>
